Flask
gunicorn
redis
requests
sentence-transformers==2.6.1
transformers==4.40.0
torch==2.8.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
numpy
python-dotenv
google-cloud-texttospeech
google-api-core
google-auth
