--extra-index-url https://download.pytorch.org/whl/cpu

Flask
gunicorn
redis
requests
sentence-transformers==2.6.1
transformers==4.40.0
torch==2.8.0+cpu
numpy
python-dotenv
google-cloud-texttospeech
google-api-core
google-auth

--extra-index-url https://pypi.org/simple
google-generative-ai
